aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
bidict==0.21.4
certifi==2021.10.8
charset-normalizer==2.0.10
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
pygame==2.1.1
python-engineio==4.3.0
python-socketio==5.5.0
requests==2.27.1
typing_extensions==4.0.1
urllib3==1.26.8
websocket-client==1.2.3
yarl==1.7.2
